<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Angular Demo</title>

    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.css"/>

</head>

<body ng-app="viewDemo">

<div class="container" ng-controller="viewController">

    <h1>Custom Validation Angular JS Directives</h1>
    <ul>
        <li ng-repeat="viewEntry in viewData">
            <span ng-repeat="entrydata in viewEntry.entrydata">
            {{entrydata['@name']}}&nbsp;&nbsp;
            </span>

        </li>
    </ul>

    <smart-table rows="tableData" columns="columnCollection"></smart-table>

    <button ng-click="getData()">Test</button>
</div>

<!--Standard Libs-->
<script src="./javascripts/lib/angular.js"></script>
<script src="./javascripts/lib/smarttable.js"></script>

<!--Library to convert XML to JSON -->


<!--Main APP AngularJS code-->
<script type="text/javascript">

    //Instantiate App
    var demo = angular.module("viewDemo", ['smartTable.table'])


    //Controllers
    demo.controller("viewController", function ($scope, $http) {

        //Plain View Data
        $scope.viewData={};

        //Modifed View Data for Table Directive
        $scope.tableData= [];
        $scope.columnCollection=[
            {label: 'Full Name', map: 'FullName'},
            {label: 'Type', map: 'Type'}
        ];

      //HTTP GET Method to get View Data
        $scope.getData=function(){
            $http({
                method: 'GET',
                url: "/names.nsf/$users?readviewentries&outputformat=json"
            }).
                    success(function (data, status) {

                        //Set Standard View Data
                        $scope.viewData=data.viewentry;

                        //Temporary holding array
                        var tmp=new Array();
                       //Loop through JSON Data to try and build sane object
                        for (var key in data.viewentry) {
                            var obj = data.viewentry[key];

                            //Create new holding Objecj
                            var newObj={};

                            //Loop through Column Items and add to the new object - use column name as the property name
                            for(var innerKey in obj.entrydata){
                                var innerObj=obj.entrydata[innerKey];
                                newObj[innerObj['@name']]="";

                                //A cheat here as there are other nested data types which need to be checked
                                if(innerObj['text']!=undefined){
                                    newObj[innerObj['@name']]=innerObj['text'][0]
                                }
                            }
                            //Push new sane object
                            tmp.push(newObj);
                        }

                    //Set the scope property with our new array
                    $scope.tableData=tmp;

                    }).
                    error(function (data, status) {
                        //Error log it

                    });
        }

    })

</script>


</body>
</html>
